@media (max-width: 1123px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

@media (max-width: 883px) {
    #home {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #nav-list {
        display: none;
    }

    #right {
        display: none;
    }

    #ham-menu {
        display: block;
    }

    .home-info {
        width: 80%;
    }
}

@media (max-width: 619px) {
    .home-info h1 {
        font-size: 11vw !important;
    }

    #logo {
        gap: 0;
    }

    .logo-img {
        scale: .6;
    }

    .home-info {
        width: 90%;
    }
}