@media (max-width: 1123px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

@media (max-width: 883px) {
    #nav-list {
        display: none;
    }

    #right {
        display: none;
    }

    #ham-menu {
        display: block;
    }
}